.card {
  padding: 25px;
  border: 1.5px solid $gray3;
  width: 300px;
  margin: 15px;
  border-radius: 5px;

  &:hover {
    border: 1.5px solid $red;
  }

  .status {
    color: $green;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .text {
    color: $dark;
    font-size: 1.15rem;
    margin-bottom: 10px;
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .date {
    font-size: 14px;
    color: $gray2;
    margin-bottom: 20px;
  }

  .btn-change {
    color: $red;
    width: fit-content;
    background-color: transparent;
    border: 2px solid $red;
    border-radius: 50px;
    padding: 7px 20px;

    &:hover {
      background-color: $red;
      color: $white;
    }
  }
}
