.dashboard {
  // margin: 20px;
  display: flex;
  .todos {
    display: flex;
    flex-wrap: wrap;
  }
}

.todomodal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  @include center;
  align-items: start;
  padding-top: 130px;
  visibility: hidden;
}

.todomodal.show {
  visibility: visible;
  z-index: 5;
}
